//
   Created by Margaret on 3/8/2016.

doctype html
html

    head
        title About
        link(rel="stylesheet", href="stylesheets/about.css")
    body
        h1 About
        p A very simple currency converter that works with an API.

        img(src="images/calc.jpg")