//
   Created by Margaret on 3/8/2016.

doctype html
html

    head
        title Currency Converter
        link(rel="stylesheet", href="stylesheets/currency_style.css")

    body
        img(src="images/kitty2.jpg")

        block content

        hr
        a(href="about") About this site