//
   Created by Margaret on 3/8/2016.
extends base
block content

    h1 Currency Converter

    form(action='/convert', method='get')
        div(class="currency_form")
            span.label Amount to Convert
            input(type='text', name='convertAmount')
            span.label Convert From
            select(name='fromCurrency')
                option(value='Dollars') Dollars
                option(value='Euros') Euros
                option(value='Pounds') Pounds
            span.label Convert To
            select(name='toCurrency')
                option(value='Dollars') Dollars
                option(value='Euros') Euros
                option(value='Pounds') Pounds
        div(class=button)
            input(type='submit', value='Convert')
